@import '../../styles/variables.pcss';
@import '../../styles/fonts.pcss';

.NumberText {
	display: block;
	margin: 0;
	font-size: 17px;
	font-family: var(--helveticaNeueCyr);
	line-height: 1.41;
	text-align: left;
	color: #4d4d4d;
}

.NumberText__number {
	margin-right: 5px;
	color: #45c6bb;
}
