.Button {
	display: block;
	height: 48px;
	padding: 0 25px;
	background-color: #212121;
	border-style: none;
	color: #fff;
	text-align: center;
	font-size: 17px;
	font-family: sans-serif; /* TODO */
	cursor: pointer;
	
	&_disabled {
		color: #b4b4b4;
		cursor: auto;
	}
}
