@import '../../styles/variables.pcss';
@import '../../styles/fonts.pcss';

.SurveyPopup {
	display: block;
}

.SurveyPopup__question {
	margin-bottom: 20px;
}

.SurveyPopup__formItem {
	margin-bottom: 39px;
}

.SurveyPopup__divider {
	margin-y: 39px 40px;
}

.SurveyPopup__button {
	display: flex;
	justify-content: flex-end;
}
